
<h1> 旅遊後 </h1>


<div class="block block_gray col-md-3">

    <a href="@Url.Action("Index","Dinaries",null) ">旅遊日記</a>

</div>


<div class="block block_gray col-md-4">

    <a href="#">足跡地圖</a>

</div>



