
<h1> 旅遊前 </h1>


    <div class="block block_gray col-md-3" >

        <a href="@Url.Action("FriendRecommend") ">旅伴推薦</a>

    </div>


    <div class="block block_gray col-md-4">

        <a href="@Url.Action("POIRecommend") ">景點推薦</a>

    </div>


    
